<a href="https://colab.research.google.com/github/zmaktr/Diabeties-prediction-ML/blob/master/diabetes_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import dependencies

In [2]:
# import pandas for creating dataframes
import pandas as pd
# import numpy for creating numpy arrays
import numpy as np
# import class to standardize the data to a common range
from sklearn.preprocessing import StandardScaler
# import support vector machine SVM model
from sklearn import svm
# import function to split data into training and testing
from sklearn.model_selection import train_test_split
# import accuracy score to check model performance
from sklearn.metrics import accuracy_score

Data collection and analysis

In [3]:
# data set source https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database
# PIMA diabetes dataset

In [4]:
# loading the dataset to a pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
# printing the first 5 rows of the dataframe
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# number of rows and columns in the dataframe
diabetes_dataset.shape

(768, 9)

In [6]:
# getting data statistics
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
# checking how many patients have diabeties in the dataset
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> represents non-diabetes

1 --> represents diabetes

In [8]:
# checking the mean value of inputs for diabetes and non-diabetes patients
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [9]:
# set a variable and droping outcome coloum from data set
X = diabetes_dataset.drop(columns="Outcome", axis=1)
# set a variable for the outcome of dataset
Y = diabetes_dataset['Outcome']

In [10]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [11]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [12]:
# Our dataset has inconsistant data so we are trying to standardize it before applying a ML model 
# this process transforms data taken from different sources into a consistent format that adheres to the standards

# taking in one instance of Skilearn Standard Scaler class
scaler = StandardScaler()

# fitting all data and transforming it to a common range 
standardize_data = scaler.fit_transform(X)

In [13]:
# assign a variable to the standardize data
X = standardize_data
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

Train Test Split

In [14]:
# Define test/train variables for standardize data(X) and outcome(Y) here and assign values using skilearn train_test_split function
# parameters X & Y are arrays with standardized data what train_test_split will do is to distribute it into four arrays X&Ytest and X&Ytrain 
# test size is 20% of the data
# train size is 80% of the data
# stratify is to sort data based on label Y meaning the result will be sorted based on Y
# random state makes sure you recieve a same output each time with the same input 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, train_size = 0.8, stratify=Y, random_state=2)

In [16]:
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(768, 8) (614, 8) (154, 8)
(768,) (614,) (154,)

Training the model

In [18]:
# load svm
classifier = svm.SVC(kernel='linear')

In [19]:
# training the support vector machine classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

a) Accuracy score on train data

In [21]:
# predict according to the X_train data (all predictions are stored in X_train_prediction variable)
X_train_prediction = classifier.predict(X_train)

# check the accuracy score by comparing the prediction with the original labels i.e Y_train
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [22]:
# accuracy score of train data
print(f"accuracy score of the training data {training_data_accuracy}")

accuracy score of the training data 0.7866449511400652

b) Accuracy score on test data

In [25]:
# predict according to the X_test data (all predictions are stored in X_test_prediction variable)
X_test_prediction = classifier.predict(X_test)

# check the accuracy score by comparing the prediction with the original labels i.e Y_test
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [26]:
# accuracy score of test data
print(f"accuracy score of the testing data {testing_data_accuracy}")

accuracy score of the testing data 0.7727272727272727